
/* 
label focus color
 .input-field input[type=text]:focus + label {
   color: #000;
}

 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }

.card {
   height: 400px; 
   overflow: hidden;
}

.card-image {
   height: 250px; 
   overflow: hidden;
}  


.flex {
   display: flex;
   flex-wrap: wrap;
 } */